<form [formGroup]="loginform" (ngSubmit)="loginuser()" >
    <div class="container">

        

      <h1>Login</h1>
     
      <hr>
  
      <div class="form-group">
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" class="form-control" formControlName="email"> 
        
  
        <div *ngIf="!loginform.get('email')?.valid && (loginform.get('email')?.dirty|| loginform.get('email')?.touched)" 
        class="error">
            <div *ngIf="loginform.get('email')?.errors?.['required']">
                <small class="text-danger">Email is required</small>
            </div>
            <div *ngIf="loginform.get('email')?.errors?.['email']">
              <small class="text-danger">Check the Email format </small>
          </div>
        </div>
  
        </div>
        <br><br>

        <div class="form-group">
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter the password" class="form-control" formControlName="password"> 
            
      
            <div *ngIf="!loginform.get('password')?.valid && (loginform.get('password')?.dirty|| loginform.get('password')?.touched)" 
            class="error">
                <div *ngIf="loginform.get('password')?.errors?.['required']">
                    <small class="text-danger">Password is required</small>
                </div>
            </div>
        </div>
        <br><br>
  

            <div class="form-group">
                <div style="text-align:center">
                <!-- <input type="submit" value="Submit"> -->
                <button class="btn-primary" (click)="loginuser()">Submit</button>
              </div>
              </div>
              <br><br>


        </div>
        









</form>