
    <form [formGroup]="policyform"  >
      <div class="container">


      <h1 style="text-align:center">Policy Type</h1>
      <br><br>
 
    <div class="form-group">
        <div style="text-align:center">
        <input type="number"  ng-model="mobilenumber" placeholder=" Enter your mobilenumber" class="form-control" formControlName="MobileNumber">
        <div *ngIf="!policyform.get('mobilenumber')?.valid && (policyform.get('mobilenumber')?.dirty|| policyform.get('mobilenumber')?.touched)" 
        class="error">
            <div *ngIf="policyform.get('mobilenumber')?.errors?.['mobilenumber']">
                <small class="text-danger">Enter the mobile number</small>
            </div>
          </div>
    </div>
    </div>
      <br><br>
    
    
      <div class="form-group">
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" class="form-control" formControlName="Email"> 
        
  
        <div *ngIf="!policyform.get('email')?.valid && (policyform.get('email')?.dirty|| policyform.get('email')?.touched)" 
        class="error">
            <div *ngIf="policyform.get('email')?.errors?.['required']">
                <small class="text-danger">Email is required</small>
            </div>
            <div *ngIf="policyform.get('email')?.errors?.['email']">
              <small class="text-danger">Check the Email format </small>
          </div>
        </div>
  
        </div>
        <br><br>
    
    
      <div class="form-group">
      <div style="text-align:center">
      <button class="btn-primary" (click)="addpolicytype()">Add policy</button>
    </div>
    </div>
    <br>
      
    </div>
    </form>
    
